<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1>Invalid Users</h1>

    <br>
    <h2>Return to <a href="/login">login</a></h2>

</body>
</html>