<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>you can't go to bar if you do not login</h1>

<br>
<h2>Return to <a href="/login">login</a></h2>

</body>
</html>